:root {
  --blue1: #35a7ff;
  --sand1: #d9bb6d;
  --lightGrey: #f3f3f3;
  --greyBackdrop: #d9d9d9;
  --tiny: 4px;
  --small1: 8px;
  --small2: 16px;
  --medium1: 32px;
  --medium2: 64px;
  --large: 128px;
  --radius: 12px;
  --text-smaller: 10px;
  --text-small: 12px;
  --text: 15px;
}

@font-face {
  font-family: Mosk;
  src: url('../public/assets/fonts/Mosk\ Normal\ 400.ttf');
}

html,
body {
  padding: 100;
  margin: 0;
  font-family: Mosk, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

p {
  font-size: 18px;
  line-height: 1.5rem;
}
h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
  color: var(--blue1);
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.container {
  max-width: 1000px;
}

.columnWrap {
  display: flex;
  justify-content: center;
}

.column {
  padding-left: var(--medium1);
}

.column > p {
  margin-bottom: var(--medium1);
  max-width: 500px;
}

.mainButton {
  color: white;
  margin-right: var(--small2);
  padding: 6px 20px 6px 20px;
  border-radius: var(--radius);
  cursor: pointer;
  transition: all 0.5s ease;
}

.mainButton:hover {
  padding-left: var(--medium1);
  padding-right: var(--medium1);
}

.smallButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  color: white;
  padding: 5 12 5 12;
  font-size: var(--text-smaller);
}

.disabledButton {
  opacity: 0.5;
}

.button1 {
  background-color: var(--blue1);
}

.button2 {
  background-color: var(--sand1);
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

a {
  color: var(--blue1);
  cursor: pointer;
}

.smallText {
  font-size: 12px;
  font-weight: bold;
}

.giveSpace {
  margin: var(--medium1);
}

.flexRowWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRowWrap hr {
  width: 150px;
  margin: 0 12px 0 12px;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainSection {
  margin: var(--large);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centerFlexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Header */

.headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--small1) var(--medium1) var(--small1) var(--medium1);
}

#headerNavigationWrap {
  display: flex;
  align-items: center;
}

#headerNavigationWrap div {
  margin-right: var(--small2);
}
#logoWrap {
  display: flex;
  align-items: center;
}

#logoWrap > p {
  margin-left: var(--small1);
  font-size: 24px;
  color: var(--blue1);
}

#logoWrap > p > span {
  color: var(--sand1);
}

.headerWrap nav {
  display: flex;
}

.headerWrap nav:last-child {
  margin-right: 0px;
}

#statusBarWrap {
  min-width: 200px;
  width: 100%;
  max-width: 300px;
  margin: 0 var(--medium1) 0 var(--medium1);
  height: 10px;
  overflow: hidden;
  border-radius: 12px;
  background-color: var(--greyBackdrop);
  position: relative;
}

#statusBar {
  position: absolute;
  z-index: 10;
  min-width: 10px;
  height: 100%;
  background-color: var(--blue1);
  border-radius: 12px;
}

/* Home  */

.heroSection {
  margin: var(--large);
}

#heroH1 {
  color: var(--blue1);
  font-size: 50px;
}
#heroH1 > span {
  color: var(--sand1);
}

/* Login and Sign-up  */

#AuthPageWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px;
}

.AuthFormWrap {
  padding: var(--medium1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AuthFromWrap label {
  min-width: 200px;
}

#FormH1 {
  color: var(--blue1);
}

/* Profile  */

.profileNavButton {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--medium1);
  padding: var(--small2);
  border-radius: 12px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.profileNavButton:hover {
  width: 105px;
  height: 105px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--medium1);
  padding: var(--small2);
  border-radius: 12px;
}

.profileNavButton p {
  color: white;
  margin-bottom: 0;
  font-size: var(--text);
  line-height: 0;
}

.profileMenuWrap {
  height: 100px;
}
/* Query  */

#queryScreenWrap {
  min-height: 100vh;
}

.bigInputWrap {
  margin-top: var(--medium2);
}

#helpButtonWrap {
  display: flex;
  justify-content: flex-end;
}

.bigTextInput {
  width: 350px;
  min-height: 60px;
  border: 0;
  border-radius: 12px;
  background-color: var(--lightGrey);
  color: black;
  padding: var(--small1);
  resize: none;
}

.smallTextInputWrap {
  display: flex;
  align-items: center;
}

.disabledInputWrap {
  opacity: 0.5;
}
.smallTextInput {
  width: 200px;
  background-color: var(--lightGrey);
  border-radius: 12px;
  border: 0;
  padding: var(--small1);
  margin: var(--small1) 0 var(--small2) 0;
  color: black;
  text-align: center;
}

.queryNavWrap {
  display: flex;
  align-items: center;
  margin: var(--medium2) 0 var(--medium2) 0;
}

.queryNavWrap div {
  margin: var(--small2);
}

.bottomInfoWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: var(--medium1);
  margin-bottom: var(--medium1);
}

.bottomInfoWrap p {
  font-size: var(--text);
  margin: 0;
}

.sliderComparisonWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--small2) 0 var(--small2) 0;
}

.sliderComparisonWrap input {
  width: 300px;
}

.sliderComparisonWrap p {
  margin: 0 var(--small2) 0 var(--small2);
  width: 200px;
}

.slider {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 250px;
  background: var(--greyBackdrop);
  color: var(--blue1);
  outline: none;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 12px;
  overflow: hidden;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 18px;
  height: 12px;
  background: var(--blue1);
  border-radius: 12px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 18px;
  height: 12px;
  background: var(--blue1);
  border-radius: 12px;
  cursor: pointer; /* Cursor on hover */
}

/* Results */

.chartWrap {
  max-width: 800px;
}
